.navbar {
    background-color: transparent !important;
    transition: background-color 0.3s ease-in-out;
}

.navbar.navbar-shrink {
    background-color: #073f29 !important;
}

.card{
    color: white;
    background-color: #073f29;
}

.card:hover {
    transform: scale(1.03);
    transition: transform 300ms ease-in-out;
}

@media (min-width:425px) {
    .intro{
        width: 80%;
        margin: 0 auto;
    }
}

.btn-custom {
    color: #ffc800;
}

.modal-content{
    background-color: #DAD7CD;
}

.modal-header{
    background-color: #6A994E;
    color: #FAF3E0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .7);
}
