/* MÄÄRITELLÄÄN :ROOT VÄRIT, JOTTA MUUTTUJIA VOIDAAN KÄYTTÄÄ MYÖS CSS */
:root {
    --primary: #073f29;
    --secondary: #ffc800;
    --tertiary: #6A994E;
}

h1 {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

/* MUUTETAAN NAVBAR VÄRIN KÄYTTÄYTYMISTÄ. ISOILLA NÄYTÖILLÄ YLÄLAIDASSA VÄRI ON TRANSPARENT, PIENELLÄ NÄYTÖLLÄ PUOLESTAAN EI, JOTTA SAADAAN MENU NÄKYMÄÄN ODOTETUNLAISESTI */
@media screen and (min-width: 990px) {
    .navbar.navbar-shrink {
        background-color: var(--primary) !important;
    }

    .navbar {
        background-color: transparent !important;
        transition: background-color 0.3s ease-in-out;
    }
}

@media screen and (max-width: 989px) {
    .navbar {
        background-color: var(--primary) !important;
    }
}

/* LUODAAN MAIN BUTTONILLE OMA ELEMENTTI, JOSSA KÄYTETÄÄN VÄRIMUUTTUJIA */
.btn-main {
    background-color: var(--primary);
    color: var(--secondary);
    transition: background-color 0.3s ease-in-out;
}

/* LAITETAAN TÄLLE MAIN BUTTONILLE HOVER EFEKTI, JOSSA KOKOA SUURENNETAAN JA YLIKIRJOITETAAN STYLES.CSS TIEDOSTON VÄRIT OIKEIKSI */
.btn-main:hover {
    transform: scale(1.03);
    transition: transform 300ms ease-in-out;
    background-color: var(--tertiary);
    color: var(--secondary);
}

/* LUODAAN ITSE KORTIT OIKEALLA VÄRILLÄ TAUSTAAN SEKÄ FONTEILLE */
.card {
    color: white;
    background-color: var(--primary);
}

/* HOVER ANIMAATIO KORTILLE, (SUURENTAA HIEMAN) */
.card:hover {
    transform: scale(1.03);
    transition: transform 300ms ease-in-out;
}

/* SUURENNETAAN KORTIN TITLE TEKSTIÄ JA LAITETAAN SE BOLDIKSI */
.card-title{
    font-size: larger;
    font-weight: bold;
}

/* LUODAAN BTN-CUSTOM LUOKKA JOLLA MUOKATAAN ELOKUVAHAUN KORTTIEN BUTTONIEN FONTIN VÄRIÄ */
.btn-custom {
    color: var(--secondary);
}

/* ASETETAAN MODAALIN CONTENTIN TAUSTAVÄRI HAALEAKSI BEIGEKSI */
.modal-content {
    background-color: #DAD7CD;
}

/* ASETETAAN MODAALIN HEADERIN VÄRI MUUTTUJALLA, FONTTI CONTENTIN BG VÄRISEKSI JA ASETETAAN TEXT SHADOW SAAVUTETTAVUUDEN LISÄÄMISEKSI */
.modal-header {
    background-color: var(--tertiary);
    color: #FAF3E0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .7);
}

/* TEHDÄÄN YKSINKERTAINEN PULSSI ANIMAATIO IKONILLE KORTTIEN ALLE. SUURENNETAAN KOKOA JA PALAUTETAAN TAKAISIN */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* KUTSUTAAN ANIMAATIOTA KUN HOVERATAAN IKONIN PÄÄLLÄ */
.pulse-hover:hover {
    animation: pulse 0.4s ease-in-out;
}

/* LUODAAN MORE MOVIES BUTTONILLE TYYLIT JA TEHDÄÄN IKONISTA NAPIN NÄKÖINEN. TEHDÄÄN NAPISTA MYÖS PYÖREÄ */
.movie-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* HOVERISSA VAIHDETAAN TAUSTAVÄRIÄ */
.movie-button:hover {
    background-color: #6A994E;
}

/* NÄISSÄ KOLMESSA MUUTETAAN TEMPLATEN TIEDOSTOSSA MÄÄRITELTYJÄ VÄREJÄ ENEMMÄN TEKEEMAAN SOPIVAKSI */
/* ABOUT OSION VIIVAN VÄRI */
.timeline:before {
    background-color: #51685f !important;
}

/* ABOUT OSION KUVIEN TAUSTA */
.timeline > li .timeline-image {
    border: 7px solid #51685f !important;
}

/* CHARACTERS OSION KUVIEN TAUSTA */
.team-member img {
    border: 5px solid #51685f;
}

/* MUUTETAAN ABOUT OSION VIIMEISEN ELEMENTIN ULKOASUA SAAVUTETTAVAMMAKSI */
.timeline-image {
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
}

/* KESKITETÄÄN TESTIOSION KYSYMYS JA LAITETAAN MARGINAALIA ALAPUOLELLE */
.quiz-title{
    text-align: center;
    margin-bottom: 20px;
}

/* LAITETAAN TESTIOSION VASTAUSBUTTONILLE LEVEYS 80% JA KESKITETÄÄN KESKELLE. VÄRIT ASETETAAN TAUSTALLE JA FONTILLE. PYÖRISTETÄÄN REUNAT JA LAITETAAN MARGINAALIA SEKÄ PADDINGIA */
.answer-button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 12px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 10px;
}

/* VAIHDETAAN TESTIOSION VASTAUSBUTTONIN HOVER VÄRI MUUTTUJALLA */
.answer-button:hover {
    background-color: var(--tertiary);
}

/* MUUTETAAN FOOTERIN VÄREJÄ JA LAITETAAN FONTTI BOLDIKSI */
.footer{
    background-color: var(--primary);
    color: var(--secondary);
    font-weight: bold;
}

/* MUUTETAAN TEXT-MUTED LUOKKAN VÄRIÄ TUMMEMMAKSI, JOTTA SIVUSTO ON SAAVUTETTAVEMPI */
.text-muted{
    color: rgb(60, 60, 60) !important;
}

/* LUOKKA, JOSSA VAIN TEKSTI ON VALKOINEN */
.text-white{
    color: white;
}

/* LIITETÄÄN MASTHEAD KUVA HEADERIIN OMALLA LUOKALLA, JOTTA VÄLTETÄÄN BACKGROUND-IMAGE TUOTTAMA KUORMITUS */
.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-color: black;
}