/* TÄSSÄ LUODAAN SEARCH BARILLE JA IKONILLE CONTAINER, JOKA ON RELATIVE. TÄMÄN JÄLKEEN VOIDAAN IKONI SEARCH BARIN VASEMMALLE PUOLELLE */

.search-box{
    position: relative;
}

/* PYÖRISTETÄÄN KULMIA HAKULAATIOKOSTA, LAITETAAN VARJOA SEKÄ TEKSTEJÄ SIIRRETÄÄN ALKAMAAN ENEMMÄN OIKEALTA */
.search-bar{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 40px;
}

/* PAKOTETAAN IKONI ABSOLUUTTISESTI TÄHÄN TIETTYYN POSITIOON TULEVAN HAKUTEKSTIN VASEMMALLE PUOLELLE */
.search-icon{
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    color: black;
}